.home-body{
  display: flex;
  div{
    text-align: center;
  }
  .text-1{
    flex: 1;
    background-color: rebeccapurple;
  }
  .text-2{
    flex: 1;
    background-color: var(--goods-text);
  }
  .text-3{
    flex: 1;
  }
}